<section id="banner" data-video="images/banner">
<div class="inner">
<header>
<% if( user ) {%>
	<h1><%= user %>야 서애로 가자</h1>
		<br />
		<% }else { %>
			<h1>서애로 가자</h1>
				<% } %>
				<p>서애로 맛집 정보 플랫폼</p>
				</header>
				<a href="#main" class="more">Learn More</a>
<ul class="icons">				
<li>
				<a href="/login" class ="icon fa-sign-in"><span class="label"> Login</span> </a>
</li>
<li>
				<a href="/logout" class ="icon fa-sign-out"><span class="label"> Logout </span></a>				
</li>
</ul>
</div>
				</section>

