<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>서애로 가자-여행</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/css/main.css" />
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="icon" href="/images/favicon.ico">
	</head>
	<body id="top">
		<header>
			<% include ./header %>
		</header>		
	<!-- Main -->


		<h2>INSERT 가 들어올 곳입니다. </h2>	

	<!-- Footer -->
                <footer id="footer">
                        <% include ./footer %>
                </footer>
                <% include ./scriptjs %>

	</body>
</html>
