<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>서애로 가자-건의사항</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/css/main.css" />
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="icon" href="/images/favicon.ico">
	</head>
	<body id="top">

		<!-- Banner -->
		<!--
	  To use a video as your background, set data-video to the name of your video without
	  its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
	  formats to work correctly.
		-->
	<header>
		<% include ./header %>
	</header>

	
	<div class ="container">
	
	<h2> 건의 사항 </h2>
	<a href ="/suggestions/insert">INSERT</a>
	</br>
	</br>



	<table class ="table table-striped">
		<thead>
 		<tr>
			<th> 아이디 </th>
			<th> 도메인 </th>
		</tr>
		</thead>
		
		<tbody>
		<tr>
			<td> 음식 또는 평가가 들어갈 자리 입니다  </td>
			<td> <a href = "/suggestions/delete/1" > DELETE </a>  </td>
			<td> <a href = "/suggestions/edit/1" > EDIT </a>  </td>
		</tr>
		</tbody>
	</table> 
	</div>

		<!-- Footer -->
		                <!-- Footer -->
        <footer id="footer">
                <% include ./footer %>
        </footer>
                <% include ./scriptjs %>

	</body>
</html>
